section {
  /*Contenedor de articulos*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  color: var(--color-texto);
  background-color: var(--color-producto);
}

main > section { /*Secciones del juego*/
  display: block;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}

.mainProduc {/*Contenido principal del juego*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acercaDe {
  margin-bottom: 1rem;
}
tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
tr {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}
td {
  margin-bottom: 1rem;
}
.creador td{
  font-weight: bold;
}

main .details {
  display: grid;
  grid-template-columns: 1fr;
}

.button {
  border: 1px solid black;
  border-radius: 12px;
  background-color: var(--color-enfasis);
  margin: 0.2rem;
  font-size: 1.8rem;
}

.visuales{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
.visuales h2 {
  align-self: flex-start;
}
.videosImg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
.videosImg > div{
display: grid;
grid-template-columns:1fr;
width: 100%;
height: 100%;
}

video {
  max-width: 100%;
  max-height: 100%;
}
.videosImg > div >div{
  margin: 0.2rem;
  padding: 0.2rem;
  }

.price {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.platform{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.platform div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.2rem;
}
.platform div svg{
  height: 1rem;
  width:  1rem;
  justify-content: center;
  margin: 0.2rem;
}

/* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
@media screen and (min-width: 912px),
  (min-width: 576px) and (orientation: landscape) {
  .videosImg > div{
    display: grid;
    grid-template-columns:1fr 1fr;
    }
}

/* Escritorio grande */
@media screen and (min-width: 1024px) {

  main > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
  }

  .videosImg > div{
    display: grid;
    grid-template-columns:1fr 1fr;
    }
}
