    body {
      /*Grip para la estructura de la página*/
      display: grid;
      grid-template-areas:
        "head"
        "nava"
        "main"
        "foot";
    }
    main {
      color: var(--color-texto);
      background-color: var(--color-producto);
    }

    nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .etapas li{
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
    }
    .etapas .etapa {
      border: 2px solid black;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      color: var(--color-texto);
      justify-content: center;
      align-items: center;
      background-color: var(--color-producto);
    }

    .etapaRealizada{
      border: 2px solid black;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      color: var(--color-texto);
      justify-content: center;
      align-items: center;
      background-color: #e9cf1b;
    }
    .etapaRealizada > span, #realizandoProceso > span{
      color: black;
    }

    .etapaEnProceso{
      font-style: bold;
    }

    input:checked {
      color: var(--color-enfasis);
    }

    nav svg {
      height: 100%;
    } 

    #realizandoProceso {
      background-color: var(--color-enfasis);
    }

    legend {
      font-size: 2rem;
    }
    .error{
      color: red;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 0.1rem;
    border-radius: 5px;
    margin: 1rem;
}
button, .button {
  padding: 0.3rem;
}

    /* Tablets y phablets  2 */
  @media screen and (min-width: 576px) {
    body {
        /*Grip para la estructura de la página*/
        display: grid;
        grid-template-areas:
          "head"
          "nava"
          "main"
          "foot";
      }
  }
  
  /* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
  @media screen and (min-width: 912px),
    (min-width: 576px) and (orientation: landscape) {
        body {
            /*Grip para la estructura de la página*/
            display: grid;
            grid-template-areas:
              "head"
              "nava"
              "main"
              "foot";
          }
  }
  
  /* Escritorio grande */
  @media screen and (min-width: 1024px) {
    body {
        /*Grip para la estructura de la página*/
        display: grid;
        grid-template-areas:
          "head"
          "nava"
          "main"
          "foot";
      }
  }
  

   