/* Hasta aqui*/
section {
  /*Contenedor de articulos*/
  display: flex;
  flex-direction: column;
}

main > section { /*Secciones del juego*/
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}

article{ 
  justify-content: space-between;
}
article .juego{
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 1fr;
    margin: 0.2rem; 
}
.articleConten {
  display: flex;
  flex-direction: column;
}

.cesta {/*Contenido principal del juego*/
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
}

.resumen {
  display: flex;
  flex-direction: column;
}
.resumen div{
  display: flex;
  flex-direction: column;
  white-space:nowrap;
}
.recomendadosSec {
  display: flex;
  flex-direction: column;
}

.recomendados {
  display: flex;
  flex-direction: column;
}


.recomendados article{
  display: flex;
  flex-direction: column;
}

.button {
  border: 1px solid black;
  border-radius: 12px;
  background-color: var(--color-enfasis);
  font-size: 1.4rem;
  width: fit-content;
}

.unidades {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.price {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

input{
  width:fit-content;
  font-size: 1.8rem;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.desabilitado, button:disabled{
  opacity: 0.5;                /* Reduce la opacidad para dar un efecto visual de deshabilitado */
  pointer-events: none;        /* Desactiva la interacción con los elementos dentro del artículo */
}

@media screen and (min-width: 576px) {
}

/* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
@media screen and (min-width: 912px),
  (min-width: 576px) and (orientation: landscape) {
    main > section { /*Secciones del juego*/
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
    .recomendados {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .resumen {
      display: flex;
      float: right;
      right: 1rem;
      flex-direction: column;
      position:fixed;
    }
}

/* Escritorio grande */
@media screen and (min-width: 1024px) {
  article{ 
    flex-direction: row;
  }
  .recomendados {
    display: flex;
    flex-direction: row;
  }

}
