
        .hidden {
            display: none;
        }
        .category {
            margin-bottom: 20px;
        }
        .input-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.1rem;
        }

        .volverEnviar{
            display: flex;
            flex-direction: column;
        }
        

fieldset > div {
    display: flex;
    flex-direction: column;
}

.input-group > div {
    display: flex;
    flex-direction: row;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input , select{
    width: auto;
    margin-right: 2rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

input[type="checkbox"]{
    margin-right: 0.2rem;
    width: 1.5rem;
}

@media screen and (min-width: 576px) {
}

/* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
@media screen and (min-width: 912px),
  (min-width: 576px) and (orientation: landscape) {
    fieldset, #shippingData, #billingData{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #shippingData{
        grid-column: span 2;
    }

    #billingData > div:nth-child(2) {
        grid-column: span 2;
    }

}

/* Escritorio grande */
@media screen and (min-width: 1024px) {
    fieldset, #shippingData, #billingData{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #shippingData{
        grid-column: span 2;
    }

    #billingData > div:nth-child(2) {
        grid-column: span 2;
    }
}
