.articulos{
  /*Contenedor de articulos*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}
section span {
  font-family: "Teko", sans-serif;
  font-size: 1.3rem;
}
section > span {
  font-size: 2rem;
  /* color: var(--color-enfasis);*/
  color: var(--color-texto);
  font-weight: bold;
}
span{
  color: var(--color-texto);
}

.textSection {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 1rem;
  margin: 0;
  padding: 0;
}
.textSection > span{
display: flex;
justify-content: center;
align-items: center;
align-self: center;
width: 100%;
font-size: 1.2rem;
font-weight: lighter;
color: var(--color-texto);
}

@media screen and (min-width: 576px) {
  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
@media screen and (min-width: 912px),
  (min-width: 576px) and (orientation: landscape) {
  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .destacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Escritorio grande */
@media screen and (min-width: 1024px) {

  .destacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}