main > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}
.card {
  padding: 0.1 rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /*text-align: center;*/
  align-items: center;
  background-color: var(--color-nav-aside);
}
.card img {
  width: 100%;
  border-radius: 8px;
}

#user-info-container > div {
  display: flex;
  flex-direction: column;
}
#user-info-container,#payment-info-container{  
  display: flex;
  flex-direction: column;}

#user-info-container > article,#payment-info-container > article {
  align-items: flex-start;
}

.sectionButton{
  display: flex;
  justify-content: center;
}
.highlight {
  font-weight: 600;
}

@media screen and (min-width: 576px) {

}

/* Escritorio pequeño / tablet  3 */ /* para pantallas de entre 576 y 1023 px en horizontal y vertical*/
@media screen and (min-width: 912px),
  (min-width: 576px) and (orientation: landscape) {

}

/* Escritorio grande */
@media screen and (min-width: 1024px) {
  main > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
